

.header_container {
    margin: auto;
    position: relative;
    background-color: pink;
    max-width: 80%;
    min-height: 500px;
}

.gap{
    position: absolute;
    right: 45%;
    height: 100%;
    width: 10%;
    font-size: 3rem;
    background-color: pink;
    padding-top: 150px;
}

.car {
    position: absolute;
    right: 0px;
    
    height: 100%;
    width: 45%;
    border-radius: 20px;
    
}

.car_text{
    position: absolute;
    bottom: 10%;
    right: 16%;
    z-index: 10;
    color: white;
    font-size: 5rem;
}

.ebike {
    position: absolute;
    left: 0px;
    
    height: 100%;
    width: 45%;
    
}

.ebike_text{
    position: absolute;
    top: 10px;
    left: 12%;
    z-index: 10;
    color: white;
    font-size: 5rem;
}

.car_jpg {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.ebike_jpg {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}